@page "/inventories/add"

@inject IAddInventoryUseCase AddInventoryUseCase
@inject NavigationManager NavigationManager

<h3>Add Inventory</h3>
<br/>

<EditForm Model="inventory" FormName="formInventory" OnValidSubmit="Save">
    
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <div>
            <label for="inventoryName" class="form-label">Inventory Name</label>
            <InputText id="inventoryName" class="form-control" @bind-Value="inventory.InventoryName"/>
            <ValidationMessage For="()=>inventory.InventoryName"></ValidationMessage>
        </div>

        <div>
            <label for="quantity" class="form-label">Quantity</label>
            <InputNumber id="quantity" class="form-control" @bind-Value="inventory.Quantity"/>
            <ValidationMessage For="()=>inventory.Quantity"></ValidationMessage>

        </div>

        <div>
            <label for="price" class="form-label">Price</label>
            <InputNumber id="price" class="form-control" @bind-Value="inventory.Price"/>
            <ValidationMessage For="()=>inventory.Price"></ValidationMessage>

        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Add Inventory</button> &nbsp;
        <a href="/inventories" class="btn btn-secondary">Cancel</a>

    </div>

</EditForm>
@code {
    [SupplyParameterFromForm] 
    private Inventory inventory { get; set; } = new Inventory();

    private async Task Save()
    {
         await AddInventoryUseCase.ExecuteAsync(inventory);
         NavigationManager.NavigateTo("/inventories");
    }

}
