@page "/inventories"

<h3>InventoryList</h3>
<br/>


<SearchComponent OnSearch="HandelSearch"></SearchComponent>
<br/>
<InventoryListComponent SearchInventoryFilter="@InventoryNameToSearch" />

<a href="/inventories/add" class="btn btn-primary">Add Inventory</a>

@code {

    private string? InventoryNameToSearch { get; set; }

    private async Task HandelSearch(string searchFilter)
    {
        InventoryNameToSearch = searchFilter;
    }

}