@page "/inventories"

<h3>InventoryList</h3>
<br/>

<EditForm Model="InventoryNameToSearch" FormName="formSearchInv">
    <div class="input-group">
        <InputText @bind-Value="InventoryNameToSearch" class="form-control" placeholder="Search Inventory" />
        <button type="submit" class="btn btn-success input-group-text">Search</button>
    </div>
</EditForm>

<br/>
<InventoryListComponent SearchInventoryFilter="@InventoryNameToSearch" />

<a href="/inventories/add" class="btn btn-primary">Add Inventory</a>

@code {
    [SupplyParameterFromForm] private string InventoryNameToSearch { get; set; } = string.Empty;

}