<EditForm Enhance="true" Model="SearchFilter" FormName="formSearchInv" OnSubmit="Search">
    <div class="input-group">
        <InputText @bind-Value="SearchFilter" class="form-control" placeholder="Search Somthing" />
        <button type="submit" class="btn btn-success input-group-text">Search</button>
    </div>
</EditForm>
@code {
    [SupplyParameterFromForm] private string SearchFilter { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnSearch { get; set; }

    private async Task Search()
    {
        await OnSearch.InvokeAsync(SearchFilter);
    }

}
