@page "/"

@inject  IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IEditInventoryUseCase EditInventoryUseCase

<PageTitle>Testing page</PageTitle>

 
@if (inventories is not null && inventories.Count > 0)
{
    <ul>
        @foreach (var inventory in inventories)
        {
            <li>@inventory.InventoryName</li>
        }
    </ul>
}


@code
{
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {

        var inventory = new Inventory { InventoryId = 1, InventoryName = "bike seat2", Quantity = 100, Price = 20 };
        await EditInventoryUseCase.ExecuteAsync(inventory);
        inventories = (await ViewInventoriesByNameUseCase.ExcuteAsync()).ToList();

    }
}
