@page "/"

@inject  IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Testing page</PageTitle>

 
@if (inventories is not null && inventories.Count > 0)
{
    <ul>
        @foreach (var inventory in inventories)
        {
            <li>@inventory.InventoryName</li>
        }
    </ul>
}


@code
{
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExcuteAsync("frame")).ToList();
    }
}
